section {
  margin: 5px;
  padding: 10px;
  background-color: #6ee866;
  width: 400px;
  height: 500px; }

section {
  margin: 40px;
  margin-top: 20px;
  background-color: #ff5c72;
  width: 300px;
  height: 300px; }
