
body {
  background-color: #ff7329;
}

.testing {
  width: percentage(5/7);
}
.super-tes{
  background-color: #000066;
  color: #000066;
}

main {
  background-color: aqua;
  &.red {
    //background-color: red;
  }
  &.yellow {
    //background-color: yellow;
  }
}

li {
  &.even {
    background-color: #ffe31b;
  }
  &.odd {
    background-color: #99acbe;
  }
}