<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>init</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body ng-controller="AppCtrl as appCtrl">

    <header ng-click="appCtrl.sayYourName()">
        <h1 ng-bind="::appCtrl.userName"></h1>
        <p ng-bind-html="::appCtrl.userTemplate"></p>
        <p ng-bind="appCtrl.userMail()"></p>
        <p ng-bind-html="appCtrl.getTrustedHTML()"></p>
        <input type="text" ng-model="appCtrl.userMail" ng-model-options="{getterSetter:true}">

        <input type="number" ng-model="appCtrl.num1" min="0" max="100">
        <input type="number" ng-model="appCtrl.num2" min="0" max="100">

        <p>{{appCtrl.num1+appCtrl.num2}}</p>

    </header>


    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="js/index.js"></script>
</body>
</html>