<hr>

<input type="text" name="name" ng-model="ctrl.search.name" placeholder="name">
<input type="number" name="age" ng-model="ctrl.search.age" placeholder="age">
<p>{{ctrl.search}}</p>
<ul>
    <li ng-repeat="name in ctrl.list">
        {{ name | limitTo : -3 | uppercase }}
    </li>
    <li ng-repeat="user in ctrl.userList | filter : ctrl.search"
        ng-click="ctrl.delUsr( user )"
        ng-class-even="'even'"
        ng-class-odd="'odd'"
    >
        <!--
        ng-class="ctrl.getClassForRow($even)"
        -->
        {{user.name}} - {{user.age}}
        <!--ul>
            <li>{{$index}}</li>
            <li>{{$first}}</li>
            <li>{{$middle}}</li>
            <li>{{$last}}</li>
            <li>{{$even}}</li>
            <li>{{$odd}}</li>
        </ul-->
    </li>
</ul>