body {
  background-color: #ff7329; }

.testing {
  width: 71.42857%; }

.super-tes {
  background-color: #000066;
  color: #000066; }

main {
  background-color: aqua; }

li.even {
  background-color: #ffe31b; }

li.odd {
  background-color: #99acbe; }
